<!DOCTYPE html>
<html lang="en">
	<head>
    	<meta charset="utf-8">
    	<meta name="description" content="This is where your description goes">
    	<meta name="keywords" content="one, two, three">

		<title>Semi-Decent Calculator</title>

		<!-- external CSS link -->
		<script src="https://kit.fontawesome.com/7ffdd2d782.js" crossorigin="anonymous"></script>

		<link rel="stylesheet" href="css/reset.css">
		<link rel="stylesheet" href="css/style.css">
	</head>
	<body>
		<main>
			<section>
				<div class="top_sectionContainer">
					<div>
						<h5 id="logicResult">0</h5>
						<h2 id="result">0</h2>
					</div>
				</div>
				<div class = "bottom_sectionContainer">
					<div>
						<div class="bottom_buttonContainer">
							<button id="clear">AC</button>
							<button id="negative">Negative</button>
							<button id="percent">%</button>
							<button id="divide">/</button>
							<button id="seven">7</button>
							<button id="eight">8</button>
							<button id="nine">9</button>
							<button id="multiply">X</button>
							<button id="four">4</button>
							<button id="five">5</button>
							<button id="six">6</button>
							<button id="minus"> - </button>
							<button id="one">1</button>
							<button id="two">2</button>
							<button id="three">3</button>
							<button id="plus"> + </button>
							<button id="zero" class="double">0</button>
							<button id="decimal">.</button>
							<button id="equals">=</button>
						</div>
					</div>
				</div>
			</section>
		</main>
		<script type="text/javascript" src="js/main.js"></script>
	</body>
</html>
