/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/*
cool color scheme

platinum - #E6E8E6
yellow 'sunglow' - #FDCA40
red ' rose madder' - #df2935
blue blue crayola -  #3772FF
black 'rich black fogra -  #080708

*/




/******************************************
/* Main 
/*******************************************/

main {
  display: flex;
  justify-content: center;
  align-items:center;
  height: 100vh;
  background: url(./marc-olivier-jodoin-Main_background.jpg);
  background-size: cover;
  opacity: .8;
}

section {
  border-radius: 10px;
  background:#080708;
  border: 3px solid #3772FF;
  height: 70vh;
  width: 35%;
}

section > div {
  width: auto;
}
.top_sectionContainer {
  position: relative;
  display: flex;
  justify-content: flex-end;
  padding: 15px;
  height: 25%;
}
.top_sectionContainer > div {
  background: #6C756C;
  display: flex;
  flex-direction: row-reverse;
  border: 3px solid #DF2935;
  border-radius: 10px;
  width: 100%;
}
.top_sectionContainer > div h5 {
  color: #FDCA40;
font-size: 2.5rem;
align-self: flex-start;
}
.top_sectionContainer h2{
  color: #FDCA40;
  position: absolute;
  bottom: 15px;
  right: 15px;
  /* align-self: flex-end; */
  font-size: 4rem;
}
.bottom_sectionContainer > div {
  background: #6C756C;
  border: 3px solid #DF2935;
  border-radius: 10px;
  width: 100%;
  height: 100%;
}
.bottom_sectionContainer {
  padding: 15px;
  height: 75%;
}
.bottom_sectionContainer > div {
  padding: 20px;
}
.bottom_buttonContainer {
  width: 100%;
  height: 100%;
  display:flex;
  flex-wrap: wrap;
}
.bottom_buttonContainer button {
  background: #080708;
  color: #DF2935;
  border: 3px solid #3772FF;
  font-size: 2rem;
  border-radius: 50%;
  height: 20%;
  width: 25%;
}
#negative  {
  font-size: 1.5rem;
}
button.double {
  width: 50%;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
