/******************************************
/* CSS
/*******************************************/
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&display=swap');
/* Box Model Hack */
*{
  box-sizing: border-box;
  font-family: 'Libre Baskerville', serif;
  font-weight: 700;
}

/*
cool color scheme

platinum - #E6E8E6
yellow 'sunglow' - #FDCA40
red ' rose madder' - #df2935
blue blue crayola -  #3772FF
black 'rich black fogra -  #080708

*/




/******************************************
/* Main 
/*******************************************/

main {
  display: flex;
  justify-content: center;
  align-items:center;
  height: 100vh;
  background: url(./marc-olivier-jodoin-Main_background.jpg);
  background-size: cover;
}

section {
  border-radius: 10px;
  background:#080708;
  border: 5px solid #0037B8;
  height: 70vh;
  width: 35%;
  opacity: .9;
}

section > div {
  width: auto;
}
.top_sectionContainer {
  position: relative;
  display: flex;
  justify-content: flex-end;
  padding: 15px;
  height: 25%;
}
.top_sectionContainer > div {
  background: #CACECA;
  display: flex;
  flex-direction: row-reverse;
  border: 3px solid #A01821;
  border-radius: 10px;
  width: 100%;
}
.top_sectionContainer > div h5 {
  margin-top: 5px;
  margin-right: 10px;
  color: #0037B8;
font-size: 2.5rem;
align-self: flex-start;
}
.top_sectionContainer h2{
  color: #0037B8;
  position: absolute;
  bottom: 15px;
  right: 25px;
  /* align-self: flex-end; */
  font-size: 6rem;
}
.bottom_sectionContainer > div {
  background: #CACECA;
  border: 3px solid #A01821;
  border-radius: 10px;
  width: 100%;
  height: 100%;
}
.bottom_sectionContainer {
  padding: 15px;
  height: 75%;
}
.bottom_sectionContainer > div {
  padding: 10px;
}
.bottom_buttonContainer {
  width: 100%;
  height: 100%;
  display:flex;
  flex-wrap: wrap;
}
.bottom_buttonContainer button {
  background: #080708;
  color: #A01821;
  font-weight: bold;
  border: 3px solid #0037B8;
  font-size: 2rem;
  border-radius: 50%;
  height: 19%;
  width: 24%;
  outline: none;
  margin-right: 3px;
  margin-bottom: 5px;
  box-shadow: 5px 5px 5px 5px #78a0ff;
}
#negative  {
  font-size: 1.5rem;
}
button.double {
  width: 50%;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
