<!DOCTYPE html>
<html lang="en">
	<head>
    	<meta charset="utf-8">
    	<meta name="description" content="This is where your description goes">
    	<meta name="keywords" content="one, two, three">

		<title>Background Color Picker</title>

		<!-- external CSS link -->
		<link rel="stylesheet" href="css/reset.css">
		<link rel="stylesheet" href="css/style.css">
	</head>
	<body>
		<a href="#"></a>
		<main>
			<section>
				<div class="section_container">
					 <h2>Pick a Color... Any Color...</h2>
					<section>
						<div id="top_one">
							<h2><a id="top_one" href="#">Click Here!</a></h2>
						</div>
						<div id="top_two">
							<h2><a href="#">Click Here!</a></h2>
						</div>
						<div id="top_three">
							<h2><a href="#">Click Here!</a></h2>
						</div>
						<div id="top_four">
							<h2><a href="#">Click Here!</a></h2>
						</div>
					</section>
					<section>
						<div id="mid_one">
							<h2><a href="#">Click Here!</a></h2>
						</div>
						<div id="mid_two">
							<h2><a href="#">Click Here!</a></h2>
						</div>
						<div id="mid_three">
							<h2><a href="#">Click Here!</a></h2>
						</div>
						<div id="mid_four">
							<h2><a href="#">Click Here!</a></h2>
						</div>
					</section>
					<section>
						<div id="bot_one">
							<h2><a href="#">Click Here!</a></h2>
						</div>
						<div id="bot_two">
							<h2><a href="#">Click Here!</a></h2>
						</div>
						<div id="bot_three">
							<h2><a href="#">Click Here!</a></h2>
						</div>
						<div id="bot_four">
							<h2><a href="#">Click Here!</a></h2>
						</div>
					</section>
				</div>
			</section>
			<section >
				<div id="test_container">
				</div>
			</section>
		</main>

		<script type="text/javascript" src="js/main.js"></script>
	</body>
</html>
